video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#backBtn {
  position: absolute;
  top: 0.6667rem;
  left: 0.8667rem;
}
#backBtn i {
  font-size: 1.5rem;
  color: #8f8e8e;
}
