html body {
  display: flex;
  height: 100vh;
  background-image: url(/img/todo_page/todo_bg.png);
  background-position: center 20%;
  background-size: 90%;
  animation: bgiAnm 1s infinite alternate;
}
@keyframes bgiAnm {
  to {
    background-position: center 15%;
  }
}
html body h5 {
  margin: auto;
  margin-top: 10.2rem;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.48rem;
}
