// 铺满屏幕
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#backBtn {
    position: absolute;
    top: .5667rem;
    left: .6667rem;

    i {
        font-size: 1.3rem;
        color: rgb(143, 142, 142);
    }
}