// 铺满屏幕
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#backBtn {
    position: absolute;
    top: .6667rem;
    left: .8667rem;

    i {
        font-size: 1.8rem;
        color: rgb(245, 245, 245);
    }
}

.text {
    position: absolute;
    bottom: 2rem;
    left: 50%;

    transform: translateX(-50%);

    font-size: .9rem;
    color: rgb(143, 142, 142);
    text-wrap: nowrap;
    
    p {
        text-align: center;
    }
}