.title {
  position: relative;

  margin-top: .9rem;

  .pharmacy {
    position: absolute;

    display: flex;
    align-items: end;

    margin-top: 0.1rem;
    height: 100%;

    font-size: .5rem;

    .left {
      margin-left: 0.2rem;

      font-size: 1.11em;
    }

    .location {
      margin-left: 0.12rem;

      i {
        margin-left: -0.13rem;
      }
    }
  }
}